.errorZ {
    padding: 10px;
    color  : crimson;
    border : 1px dotted crimson;
}

.successZ {
    padding: 10px;
    color  : limegreen;
    border : 1px dotted limegreen;
}

li{
    list-style-type: none;
    max-width: 200px;
    padding: 8px;
    margin: 8px auto;
    background: #eee;
    border: 1px dotted #ddd;
}