/* lesson 84 */
/* 
body {
    background: #333;
}

.clock {
    font-size: 4em;
    text-align: center;
    margin: 200px auto;
    color: yellow;
}

.clock span {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}
 */